body {
  font-family: "Open Sans", Arial, sans-serif;
  color: #4d4e53;
}

.sidenav {
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  width: 290px;
  border-right: solid;
  border-color: black;
}

.sidenav a {
  text-decoration: none;
  display: block;
}

.main-section {
  margin-left: 290px;
}

header {
  font-weight: thin;
}
